[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8"

[packages]
numpy = "*"
jupyterlab = "*"
matplotlib = "*"
torch = {file = "https://download.pytorch.org/whl/cu111/torch-1.9.0%2Bcu111-cp38-cp38-win_amd64.whl"}
tensorboard = "*"
fuckit = "*"

[dev-packages]

# The following two packages currently have issues on installing via pipenv - https://github.com/pypa/pipenv/issues/550
#torchvision = {file = "https://download.pytorch.org/whl/cu111/torchvision-0.10.0%2Bcu111-cp38-cp38-win_amd64.whl"}
#torchaudio = {file = "https://files.pythonhosted.org/packages/2c/d2/9253c316454a50093667e85a5ba3eefa65c8a2df1c9b57c91896150ed50e/torchaudio-0.9.0-cp38-cp38-win_amd64.whl"}
# As a workaround, the following commands can be run to install these packages, however they are no longer maintained by pipenv
# pipenv run pip install https://files.pythonhosted.org/packages/2c/d2/9253c316454a50093667e85a5ba3eefa65c8a2df1c9b57c91896150ed50e/torchaudio-0.9.0-cp38-cp38-win_amd64.whl
# pipenv run pip install "https://download.pytorch.org/whl/cu111/torchvision-0.10.0%2Bcu111-cp38-cp38-win_amd64.whl"